absl-py==0.10.0
antlr4-python3-runtime==4.8
anykeystore==0.2
appdirs==1.4.4
argon2-cffi==20.1.0
ase==3.20.1
astor==0.8.1
async-generator==1.10
atari-py==0.2.6
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
bce-python-sdk==0.8.46
beautifulsoup4==4.9.1
bert-pytorch==0.0.1a4
bert-serving-client==1.10.0
bert-serving-server==1.10.0
bleach==3.2.1
blessings==1.7
blis==0.4.1
boto==2.49.0
boto3==1.14.28
botocore==1.17.28
bpemb==0.3.2
brokenaxes==0.4.2
cachetools==4.2.4
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cma==3.0.3
colorama==0.4.3
colorful==0.5.4
colorlog==4.2.1
contextlib2==0.6.0.post1
contextvars==2.4
cryptacular==1.5.5
cycler==0.10.0
cymem==2.0.3
Cython==0.29.21
cytoolz==0.11.0
dask==2.30.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
distlib==0.3.1
docutils==0.15.2
emoji==0.5.3
entrypoints==0.3
fairseq==0.10.1
faiss-cpu==1.6.3
fastcore==1.2.5
fastprogress==1.0.0
filelock==3.0.12
fire==0.3.1
flake8==3.8.3
Flask==1.1.2
Flask-Babel==2.0.0
fsspec==2021.10.0
funcsigs==1.0.2
future==0.18.2
gast==0.4.0
gensim==3.8.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googledrivedownloader==0.4
googletrans==3.0.0
gpustat==0.6.0
GPUtil==1.4.0
graphviz==0.14.1
grpcio==1.31.0
gunicorn==20.0.4
gym==0.12.1
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2021.10.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.4.0
hupper==1.10.2
hydra-core==1.0.4
hyperframe==5.2.0
hyperopt==0.1.2
identify==1.5.5
idna==2.10
imagecodecs-lite==2019.12.3
imageio==2.9.0
immutables==0.16
importlib-metadata==1.7.0
importlib-resources==3.0.0
ipdb==0.13.9
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.2
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
json-tricks==3.15.5
jsonlines==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
langdetect==1.0.8
llvmlite==0.34.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpld3==0.3
murmurhash==1.0.2
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
netifaces==0.10.9
networkx==2.5
nltk==3.4.5
nodeenv==1.5.0
notebook==6.1.4
numba==0.51.2
numpy==1.19.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
objgraph==3.4.1
olefile==0.46
omegaconf==2.0.5
opencv-python==4.3.0.36
packaging==20.4
paddlehub==1.8.2
paddlepaddle-gpu==1.8.4.post107
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
PasteDeploy==2.1.1
pathlib==1.0.1
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.0
plac==1.1.3
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
plyfile==0.7.2
portalocker==2.0.0
pre-commit==2.7.1
preshed==3.0.2
prettyprinter==0.18.0
prettytable==0.7.2
prometheus-client==0.8.0
prompt-toolkit==2.0.10
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
pyflakes==2.2.0
pygcn==0.1
pyglet==1.5.15
Pygments==2.6.1
pymongo==3.11.3
pyparsing==2.4.7
pyramid==1.10.4
pyramid-mailer==0.15.1
pyrsistent==0.17.3
pysolr==3.8.1
pytest==5.4.3
python-dateutil==2.8.1
python3-openid==3.2.0
PythonWebHDFS==0.2.3
pytorch-lightning==1.0.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.2.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
rarfile==4.0
rdflib==5.0.0
regex==2020.7.14
repoze.sendmail==4.4.1
requests==2.24.0
requests-oauthlib==1.3.0
responses==0.13.2
rfc3986==1.5.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sacrebleu==1.4.14
sacremoses==0.0.43
schema==0.7.4
scikit-image==0.17.2
scikit-learn==0.21.2
scipy==1.5.2
seaborn==0.11.1
segtok==1.5.7
Send2Trash==1.5.0
sentencepiece==0.1.91
seqeval==0.0.12
simplejson==3.17.2
six==1.15.0
skipthoughts==0.0.1
sklearn==0.0
smart-open==2.1.0
sniffio==1.2.0
soupsieve==2.0.1
spacy==2.3.2
SQLAlchemy==1.3.20
sqlitedict==1.6.0
srsly==1.0.2
stanfordcorenlp==3.9.1.1
synonyms==3.15.0
tabulate==0.8.7
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
texttable==1.6.3
Theano==0.9.0
thinc==7.4.1
threadpoolctl==2.1.0
tifffile==2020.9.3
tokenizers==0.9.4
toml==0.10.2
toolz==0.11.1
torch==1.4.0
torch-cluster==1.5.4
torch-geometric==1.4.3
torch-multi-head-attention==0.15.1
torch-scatter==2.0.4
torch-sparse==0.6.1
torch-spline-conv==1.2.0
TorchCRF==1.1.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.62.3
traitlets==4.3.3
transaction==3.0.0
transformers==4.0.0
translationstring==1.4
typing-extensions==3.7.4.3
urllib3==1.25.11
velruse==1.1.1
venusian==3.0.0
virtualenv==20.0.31
visualdl==2.0.4
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.6
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
wtforms-recaptcha==0.3.2
xlrd==1.2.0
xlwt==1.3.0
yapf==0.26.0
zipp==3.1.0
zope.deprecation==4.4.0
zope.interface==5.1.2
zope.sqlalchemy==1.3
